<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
<h2>Single Project from API request</h2>

<ul>
        <li><%= results.id %> - <%= results.name %></li>
</ul>

</div>

</body>
</html>
