<form>
    <div>
        <label>Project ID:</label>
        <input type="text" name="projectID"/>
    </div>
    <div>
        <label>Project Name:</label>
        <input type="text" name="projectName"/>
    </div>
    <div>
    <button onclick="myPostFunction()">Create Project</button>
    </div>
</form>
